@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
}

:root { 
  --primary-color: #047aed;
  --primary-color2: #fff;
}