.diaryinfo {
  width: 100%;
  min-height: 100%;
  padding: 20px 100px;
}

.diaryinfo h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 1.5px;
  text-shadow: 0 3px 8px rgb(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.diaryinfo h2:hover {
  transform: skewY(-3deg);
}

.diaryinfo .diaryhint{
  display: flex;
  justify-content: space-between;
  margin-top: 50px ;
}

/* .diaryinfo .diaryhint ul li{
  
} */

