body{
    background-color: darkslategrey;
    margin: 30px;
}

.form-container{
    width: 300px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.input{
    display: flex;
    flex-direction: column;
}

.label{
    margin-top: 5px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.form-input{
    padding: 5px 0px 5px 0;
    color: black;
    font-size: 15px;
    text-transform: capitalize;
    outline: none;
}

.submit{
    display: flex;
    justify-content: center;
}
.submit-btn{
    margin-top: 10px;
    padding: 6px 5px 6px 5px;
    color: rgb(214, 210, 210);
    background-color: rgb(15, 116, 15);
    outline: none;
    border: none;
}

.submit-btn:hover{
    color: white;
    background-color: green;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}