
.table{
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.text-input{
    padding-right: 120px;
}

.text-heading{
    padding-right: 140px;
}

.submit-blue{
    padding: 6px 5px 6px 5px;
    color: rgb(214, 210, 210);
    background-color: rgb(6, 6, 172);
    outline: none;
    border: none;
}

.submit-btn:hover{
    color: white;
    background-color: blue;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

.submit-black{
    padding: 6px 5px 6px 5px;
    color: rgb(214, 210, 210);
    background-color: rgb(39, 38, 38);
    outline: none;
    border: none;
}

.submit-black:hover{
    color: white;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

.submit-red{
    padding: 6px 5px 6px 5px;
    color: rgb(214, 210, 210);
    background-color: rgb(189, 9, 9);
    outline: none;
    border: none;
}

.submit-red:hover{
    color: white;
    background-color: red;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}