section {
  width: 100%;
  min-height: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var( --primary-color2);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  clip-path: circle(600px at right 800px );
  -webkit-clip-path: circle(600px at right 800px );
  -moz-clip-path: circle(600px at right 800px );
  -ms-clip-path: circle(600px at right 800px );
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox {
  position: relative;
  max-width: 600px;
}

.content .textbox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textbox h2 span {
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content .textbox p {
  color: #333;
}

.content .textbox .learnbtn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: var(--primary-color);
  color: var( --primary-color2);
  border: 2px solid var(--primary-color2);
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  transition: all 1s;
}

.content .textbox .learnbtn:hover{
 background-color: var(--primary-color2);
 color: var(--primary-color);
 border: 2px solid var(--primary-color);
 box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.content .imgbox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgbox img {
  max-width: 340px;
}
